/* #region ***** Définition des variables */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Exo+2:wght@300;400;600&family=Montserrat:wght@300;400&family=JetBrains+Mono&display=swap");

:root {
  --dusk-blue: #38506fff;
  --blue-slate: #57668aff;
  --pale-sky: #c3dde7ff;
  --pacific-cyan: #4992a0ff;
  --space-indigo: #33304aff;
  --violet: rgba(216, 145, 228, 0.795);
  --semi-blue: rgba(223, 246, 255, 0.747);

  --border-shine: #d6f1f8b9;
  --form-back: rgba(56, 80, 111, 0.651);
  --degrade: linear-gradient(
    280deg,
    rgba(185, 120, 196, 1) 0%,
    rgba(104, 213, 217, 1) 100%
  );

  --font-title: "Cinzel", serif;
  --font-tech-ui: "Exo 2", sans-serif;
  --font-clean-body: "Montserrat", sans-serif;
  --font-code-mono: "JetBrains Mono", monospace;
}

.is-hidden {
  display: none;
}
/* #endregion ***** Définition des variables  */

/* #region ***** Sélection et scroll */
::-moz-selection {
  background-color: var(--violet);
  color: var(--dusk-blue);
}

::selection {
  background-color: var(--violet);
  color: var(--dusk-blue);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--blue-slate);
  border: 3px solid var(--dusk-blue);
  border-top: 1px solid lightgrey;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-slate);
  border: 2px solid var(--dusk-blue);
  border-radius: 2px;
}
/* #endregion ***** Sélection et scroll */

/* #region ***** Fond de page et header */
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 96%;
  background-color: var(--dusk-blue);
  opacity: 0.9;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 2%;
  color: var(--pale-sky);
  font-family: var(--font-tech-ui);
  z-index: 10;
}

#logout-btn {
  float: right;
  cursor: pointer;
  margin-top: -4px;
}

#logout-btn svg {
  position: relative;
  top: 5px;
  margin-right: 5px;
}

/* #endregion ***** Fond de page et header */

/* #region ***** Formulaire de connexion */
.form-bloc {
  padding: 15px 30px;
  width: 50vw;
  max-width: 600px;
  border-radius: 10px;
  border: 2px solid var(--violet);
  background: var(--form-back);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.form-bloc h2 {
  margin: 0px;
  font-size: 1.4em;
}

.login-label,
.form-bloc h2 {
  font-family: var(--font-title);
  filter: brightness(200);
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
  color: var(--pale-sky);
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--font-clean-body);
  color: var(--pale-sky);
  font-size: 0.65em;
  display: block;
  margin-bottom: 15px;
}

.login-label {
  font-size: 1em;
  display: block;
  margin-top: 10px;
}

.login-input {
  font-size: 1.1em;
  margin-top: 5px;
}

.login-input,
.login-details {
  background: var(--blue-slate);
  border: 2px solid var(--pale-sky);
  padding: 7px;
  border-radius: 10px;
  width: 80%;
  max-width: 350px;
  display: block;
  margin: auto;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
  color: var(--pale-sky);
  box-shadow: 0 0 12px var(--border-shine);
}

.login-input::placeholder {
  color: var(--violet);
}

/* Section mot de passe */
.password-zone {
  display: flex;
  width: 80%;
  max-width: 380px;
  margin: auto;
}

#password {
  width: 100%;
  margin-left: initial;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#show-password {
  color: var(--border-shine);
  cursor: pointer;
  border: 2px solid var(--pale-sky);
  box-shadow: 0 0 12px var(--border-shine);
  border-left: none;
  border-radius: 10px;
  width: 30px;
  text-align: center;
  flex-shrink: 0;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-top: 5px;
  line-height: 100%;
  padding: 8px;
}

/* Section identifiant */
.login-details {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-style: italic;
  font-size: 0.8em;
}

#identifier {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Bouton de connexion  */
/* Before : triangle de gauche ---- After : triangle de droite */
.connect-btn {
  display: inline-block;
  cursor: pointer;
  margin: 50px 20px 10px 20px;
  background: var(--degrade);
  padding: 10px 0px;
  width: 350px;
  font-family: var(--font-title);
  font-size: 1.2em;
  color: white;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px var(--pacific-cyan);
  transition: all 1s ease;
  border: 6px double var(--pacific-cyan);
  border-radius: 20px;
  position: relative;
}

.connect-btn:hover {
  letter-spacing: 1.2px;
  filter: brightness(1.2);
}

.connect-btn::before,
.connect-btn::after {
  height: 40px;
}

.bloc-title,
.connect-btn {
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
}

.connect-btn::before,
.connect-btn::after,
.bloc-title::before,
.bloc-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  background-color: var(--violet);
  clip-path: polygon(100% 0, 0 50%, 100% 100%, 80% 50%);
  box-shadow: 0 0 10px var(--pacific-cyan);
  transition: all 1s ease;
}

.connect-btn::before,
.bloc-title::before {
  left: -25px;
}

.connect-btn:hover::before {
  left: -30px;
  filter: brightness(1.2);
}

.connect-btn::after,
.bloc-title::after {
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
}

.connect-btn:hover::after {
  right: -30px;
  filter: brightness(1.2);
}

/* Message d'erreur dans la connexion */
.login-alert {
  background-color: var(--dusk-blue);
  border: 2px solid var(--blue-slate);
  color: var(--pale-sky);
  font-family: var(--font-clean-body);
  border-radius: 10px;
  margin: 20px auto 0px auto;
  width: 390px;
  padding: 5px;
}

.login-alert svg {
  float: left;
  margin-left: 5px;
  color: var(--pale-sky);
}

.login-alert:hover svg,
.login-alert:hover {
  color: white;
}

/* #endregion ***** Formulaire de connexion */

/* #region ***** Tableau de bord */
.dashboard-bloc {
  color: white;
  margin-top: 80px;
  width: 100%;
  margin-left: -10px;
}

.dashboard-header {
  display: flex;
  min-height: 100px;
}

.dashboard-header h1 {
  border: 3px ridge var(--pacific-cyan);
  background-color: var(--form-back);
  border-left: 0px;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-shrink: 0;
}

.dashboard-header h1,
.dashboard-header h2,
.graph-grid h3 {
  height: 30px;
  line-height: 35px;
  font-family: var(--font-title);
  font-size: 1.1em;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
  color: var(--pale-sky);
  padding: 10px 25px 10px 120px;
  margin: 0px;
}

.dashboard-header h1::after {
  content: "";
  height: 40px;
  width: 1px;
  border-right: 3px ridge var(--pacific-cyan);
  position: absolute;
  right: -15px;
  top: 5px;
}

.dashboard-header h1 div {
  height: 70px;
  width: 70px;
  position: absolute;
  top: -12px;
  left: 25px;
  border: 4px ridge var(--pacific-cyan);
  border-radius: 60px;
  background-color: var(--dusk-blue);
  box-shadow: 0 0 12px var(--border-shine);
}

.dashboard-header h1 div img {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.dashboard-body {
  display: flex;
  width: 95vw;
  margin: auto;
  justify-content: space-evenly;
}

#dashboard-left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#dashboard-left > div,
#dashboard-right {
  position: relative;
  border: 4px ridge var(--pacific-cyan);
  padding: 25px 15px 10px 15px;
  background-color: var(--form-back);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.bloc-title {
  padding: 5px;
  font-size: 0.8em;
  background-color: var(--dusk-blue);
  border: 4px ridge var(--pacific-cyan);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: -38px;
  transform: translateX(-50%);
  white-space: nowrap;
  /* box-shadow: 0 0 12px var(--border-shine); */
}

.bloc-title::before,
.bloc-title::after {
  height: 30px;
  background-color: var(--pacific-cyan);
}

#user-profile img {
  width: 22%;
  border: 4px ridge var(--pacific-cyan);
  border-radius: 20px;
  background-color: var(--blue-slate);
  float: left;
  margin-right: 5px;
  flex-shrink: 0;
}

.profile-data {
  display: flex;
}

.profile-data > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bloc-username,
.bloc-xp {
  font-family: var(--font-tech-ui);
  font-variant: small-caps;
  margin-bottom: 7px;
  font-weight: 600;
}

.bloc-xp {
  text-align: center;
}

#user-exp .subtitle {
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.bloc-infos {
  font-size: 0.7em;
  font-family: var(--font-clean-body);
  margin-bottom: 5px;
}

.bloc-infos svg {
  height: 18px;
  float: left;
  margin-top: -2px;
}

.progress-bar,
.skill-logo span {
  background-color: var(--dusk-blue);
  border: 2px double var(--blue-slate);
  margin: auto;
  height: 20px;
}

.progress-bar div {
  height: 20px;
  background: var(--degrade);
  width: 0%;
  transition: width 1s linear;
}

.next-level {
  font-style: italic;
  text-align: right;
}

#user-skills {
  margin-bottom: 0px;
  padding-bottom: 5px;
}

#user-skills .bloc-infos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-bloc {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  text-align: center;
  font-family: var(--font-title);
}

.skill-logo {
  padding: 5px;
  border: 3px ridge var(--violet);
  border-radius: 5px;
  background-color: var(--dusk-blue);
  text-transform: uppercase;
  margin-bottom: 3px;
  position: relative;
  cursor: context-menu;
}

.lang .skill-logo {
  border-color: var(--semi-blue);
}

.skill-logo span {
  max-height: 0px;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dusk-blue);
  white-space: nowrap;
  border-width: 0px;
  transition:
    bottom ease-in-out 0.3s,
    max-height ease-in 0.3s;
}

.skill-logo:hover span {
  bottom: 115%;
  max-height: 50px;
  padding: 2px;
  z-index: 2;
  border-width: 2px;
}

/* #endregion ***** Tableau de bord */

/* #region ***** Graphiques */

#dashboard-right {
  width: 65%;
  margin-left: 2%;
}

#dashboard-right .bloc-title {
  top: -20px;
}

.graph-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100%;
}

.graph-grid > div {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--border-shine);
}

.graph-grid h3 {
  text-align: center;
  padding: initial;
  margin-bottom: 10px;
}

.graph1 {
  grid-area: 1 / 1 / 2 / 2;
}
.graph2 {
  grid-area: 1 / 2 / 2 / 3;
}
.graph3 {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}
.graph4 {
  grid-area: 2 / 2 / 3 / 3;
}

.graph3 div {
  width: 40%;
  margin: auto;
}
#ratio-chart {
  width: 100%;
  height: auto;
  max-height: 100%;
}

#ratio-chart path {
  filter: drop-shadow(0 0 2px var(--border-shine))
    drop-shadow(0 0 2px var(--form-back)) brightness(1.1);
  opacity: 0.75;
}

.audit-received:hover {
  transform: scale(1.03) translateX(-3%);
}
.audit-given:hover {
  transform: scale(1.03) translateX(1%);
}

#received-xp,
#given-xp {
  position: absolute;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
  font-family: var(--font-tech-ui);
  text-align: center;
}

#received-xp span,
#given-xp span {
  font-size: 0.7em;
  display: none;
}

#received-xp {
  top: 70%;
  left: 10%;
  color: var(--pale-sky);
}

#given-xp {
  position: absolute;
  top: 20%;
  right: 7%;
  color: var(--violet);
  filter: brightness(1.1);
}

#received-xp.active,
#given-xp.active {
  transform: scale(1.15);
  filter: brightness(1.4) drop-shadow(0 0 5px var(--border-shine));
  z-index: 10;
}

#received-xp.active span,
#given-xp.active span {
  display: initial;
}

/* #endregion ***** Graphiques */
